#direita{
    width: 10%;
    display: block;
    position: absolute;
    right: 0;
    height: 40vh;
    bottom: 0;
}

#direita > button{
    background-color: #171516;
    color: white;
    border-radius: 100%;
    width: 50px;

}

#direita > button:hover{
    background-color: #ae2a77
}

#esquerda{
    width: 10%;
    display: block;
    position: absolute;
    left: 0;
    height: 40vh;
    bottom: 0;
}

#esquerda > button{
    background-color: #171516;
    color: white;
    border-radius: 100%;
    width: 50px;
}

#esquerda > button:hover{
    background-color: #ae2a77
}