#respostas{
    position: absolute;
    top: 250px;
    left: 57vw;
    height: 70vh;
    width: 23%;
    justify-content: space-between;
    align-items: space-between;
}

.resposta{
    display: block;
    padding: 0;
    border: 0;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 247);
    font-size: 20px;
}