#paulo{
    position: absolute;
    bottom: 0;
    left: 30vw;
}

#fala{
    display: inline-block;
    border: 0;
    border-radius: 95%;
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 200px;
    left: 42vw;
    background-color: white;
}

#fala > img{
    position: absolute;
    bottom: -30px; 
}

#fala > p{
    position: absolute;
    top: 15%;
    left: 20%;
    display: round;
    width: 220px;
}

#tutorial > button{
    position: absolute;
    bottom: 0;
    right: 20px; 
}