#botao{
    display: inline;
}
#botao > button{
    background-color: #171516;
    width: 33%;
    height: 30px;
    color: white;
    position: relative;
    left: -10px;
    display: inline-block;
}

#botao > button:hover{
    background-color: #ae2a77;
} 