button{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 22pt;
    cursor: pointer;
    border-radius: 5px;
}